<h2>Forgot your password?</h2>
<p>Input your email to reset your password</p>
<form method="post" action="api/sessions/forgot-password">
  <label for="email">E-MAIL</label>
  <input
    type="email"
    placeholder="email"
    name="email"
    style="font-size:18pt;"
  />
  <br />
  <br />
  <button type="submit">Reset password</button>
</form>