<h2>LOGIN</h2>
<form method="post" action="api/sessions/login">
  <label for="email">E-MAIL</label>
  <input
    type="email"
    placeholder="email"
    name="email"
    style="font-size:18pt;"
  />
  <br />
  <label for="password">PASSWORD</label>
  <input
    type="password"
    placeholder="password"
    name="password"
    style="font-size:18pt;"
  />
  <br />
  <button type="submit">Login</button>
</form>

<a href="/api/sessions/github">Login with GITHUB</a>
<br /><br />
<a href="/signup">New User? Local Signup</a>