<div>
  <div>
    <h2>Cart</h2>
  </div>
  <div id="onecart"></div>
  <div>
    <h2>Card ID {{_id}}</h2>
    {{#each products}}
      <h3>{{@key}}: {{this}} {{@quantity}}</h3>
    {{/each}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>