<h2>PROFILE</h2>

<a>ID {{id}}</a><br />
<a>NAME {{first_name}}</a><br />
<a>EMAIL {{email}}</a><br />
<a>ROLE {{role}}</a><br />
<br />
<a href="/api/sessions/logout">Close Session</a>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>