<h2>Reset Your Password</h2>
<p>Input your new password</p>
<form method="post" action="api/sessions/reset-password?token={{token}}">
  <input
    type="email"
    placeholder="email"
    name="email"
    style="font-size:18pt;"
  />
  <br /><br />
  <input
    type="password"
    placeholder="New password"
    name="newPassword"
    style="font-size:18pt;"
  />
  <br /><br />
  <button type="submit">Reset password</button>
</form>