<h2>REGISTER</h2>

<form method="post" action="api/sessions/signup">

  <label for="firstname">First Name</label>
  <input
    type="text"
    placeholder="first name"
    name="first_name"
    style="font-size:18pt;"
  />
  <br />

  <label for="lastname">Last Name</label>
  <input
    type="text"
    placeholder="last name"
    name="last_name"
    style="font-size:18pt;"
  />
  <br />

  <label for="email">E-Mail</label>
  <input
    type="email"
    placeholder="email"
    name="email"
    style="font-size:18pt;"
  />
  <br />

  <label for="age">Age</label>
  <input type="number" placeholder="age" name="age" style="font-size:18pt;" />
  <br />

  <label for="password">Password</label>
  <input
    type="password"
    placeholder="password"
    name="password"
    style="font-size:18pt;"
  />
  <br />
  <br />
  <button type="submit">Signup</button>
</form>
<hr />
<a href="/forgot-password">
  <button>Reset password</button>
</a>